BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
AccessModifierOffset: -4
IndentAccessModifiers: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: true
